/*part six*/
.footerLine {
	border-top: 4px solid #e7e7e7;
	font-family: "微软雅黑";
	margin-top: 20px;
	min-width: 1190px;
	padding: 0;
}

.faq {
	background-color: #f5f5f5;
	width: 100%;
	padding-top: 10px;
	border-top: solid 1px #e7e7e7;
	overflow: hidden;
}

.faq ul {
	font-size: 0;
	word-spacing: -1px;
	white-space: nowrap;
	padding: 0 0 10px 0;
}

.faq li {
	font-size: 12px;
	display: inline;
	float: left;
	padding-left: 40px;
	width: 140px;
}

.faq dl {
	display: block;
	width: 100%;
	margin: 10px 0px 0px 0px;
}

.faq dl dt {
	font: 14px/1.5 "Lucida Grande", tahoma, arial, 宋体;
	margin-bottom: 4px;
	font-weight: bold;
}

.faq dl dd {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.faq dl dd a {
	font: 12px/1.5 "Lucida Grande", tahoma, arial, 宋体;
	line-height: 24px;
	color: #666;
}

.faq .contact {
	margin-left: 16px;
	border-left: 1px solid #e7e7e7;
	padding: 0px 0 20px 50px;	/*border-left: 1px solid #fff;*/
	display: inline-block;
	margin-top: 10px;
}

.faq .contact .tel {
	background-position: 0 -250px;
	background: url(https://www.lezhi365.com.cn/web/templates/default/images/ncjs.png) no-repeat;
	color: #00B492;
	font-size: 20px;
}

.faq .contact .mail {
	font-size: 16px;
	background-position: 0 -280px;
	color: #666;
	background: url(https://www.lezhi365.com.cn/web/templates/default/images/656.png) no-repeat;
}

.faq .contact .tel,
.faq .contact .mail {
	height: 26px;
	line-height: 26px;
	padding-left: 36px;
	cursor: default;
}

.faq .contact .weixin {
	float: left;
	font-size: 12px;
}

.fs {
	float: left;
	font-size: 12px;
}

.faq .contact .weixin img {
	display: block;
	width: 62px;
	height: 62px;
}

.faq .contact .weixin p {
	display: block;
	line-height: 31px;
	height: 31px;
	padding: 0 16px 0 6px;
	color: #666;
	margin: 0;
}

.faq .contact .icon {
	display: block;
	background: url(https://www.lezhi365.com.cn/web/templates/default/images/hd-and-btm.png) 0 0 no-repeat;
	_background: url(https://www.lezhi365.com.cn/web/templates/default/images/hd-and-btm.png) 0 0 no-repeat;
}

.faq .contact .weibo .tencent {
	height: 30px;
	line-height: 30px;
	padding-left: 36px;
	color: #666;
	background-position: 0 -310px;
}

.faq .contact .weibo .sina {
	height: 30px;
	line-height: 30px;
	padding-left: 36px;
	color: #666;
	background-position: 0 -340px;
}

.faq .contact .weibo a {
	color: #555;
}

.foo {
	font-size: 12px !important;
	border-top: 1px solid #e7e7e7;
	text-align: center;
	margin: -5px auto;
	padding-bottom: 10px;
	overflow: hidden;
	background: #F5F5F5;
	width: 100%;
}

.foo p {
	color: #666;
	word-spacing: 5px;
	padding: 10px 0;
}

.footer .foo p a {
	color: #666;
}
/*part six end*/