/*** Button components ***/ 

.button { 
	border: solid 1px $color-light; 
	border-radius: 3px; 
	display: inline-block; 
	font-weight: 300; 
	height: 40px; 
	line-height: 40px; 
	padding: 0 10px; 
	text-decoration: none; 
	transition-duration: .4s; 
	transition-property: color border; 
} 

@generate-button('primary', $color-primary);

