.arcitle--top--right{
	&-title{
		margin: 10px 0;
		text-align: center;
		@include set-font(bold 22px Arial Bold, #333);
	}
	&-content{
		@include set-font(12px Arial Regular, #333);
		padding: 2px 25px;
	}
}