%size{
	width: round(percentage(240 / 1145));
}
%input-style{
	border: 1px solid #5ebcca;
	background-color: transparent;
	position: relative;
	top: 1px;
	left: -5px;
	width:  round(percentage(180 / 270));
	height: 23px;
	margin: 10px 0px;
}
%btn--input{
	border: 4px solid #5ebcca;
	background-color: #5ebcca;
}
.footer{
	display: flex;
	background-image: url('../images/footer.jpg');
	background-size: 100%;
	padding: 51px 90px;
	position: relative;
	top: -54px;
	z-index: -1;
	.social{
		position: relative;
		top: 0;
		left: 10px;
		@extend %size;
		&_title{
			@include set-font(26px LeagueGothic, #fff);
			padding: 40px 0px;
		}
		&_content{
			@include set-font(10px Arial Regular, #333);
			text-align: start;
		}
		&_til{
			@include set-font(bold 10px Arial Bold, #fff);
			border-bottom: 1px solid #eee;
			padding: 10px 0;
		}
		&_icon{
			position: relative;
			top: 10px;
			left: 65px;
		}
	}
	.Lorem{
		@extend %size;
		position: relative;
		top: 12px;
		left: 40px;
		&_title{
			@extend .social_title;
			padding: 30px 0;
		}
		&_til1{
			@extend .social_til;
		}
		&_content1{
			@extend .social_content;
			border-bottom: 1px solid #eee;
		}
		&_til2{
			@extend .social_til;
		}
		&_content2{
			@extend	.social_content; 
		}
	}
	.video{
		@extend %size;
		position: relative;
		left: -111px;
		top: 120px;
		width: round(percentage(220 / 1222));
		height: 190px;
		&_title{
			@extend .social_title;
			width: round(percentage(180 / 1200));
			position: relative;
			top: 3px;
			left: 65px;
		}
	}
	.Contact{
		width: round(percentage(270 / 1175));
		height: 220px;
		position: relative;
		top: 14px;
		left: -88px;
		&_title{
			@extend .social_title;
			padding: 31px 0;
		}
		&_name{
			@include set-font(11px Arial Regular, #057f81);
			@extend %btn--input;
		}
		&_input--name{
			@extend %input-style;
		}
		&_mail{
			border-width: 4px 9px;
			@include set-font(11px Arial Regular, #057f81);
			@extend %btn--input;
		}
		&_input--mail{
			@extend %input-style;
		}
		&_mes{
			@include set-font(11px Arial Regular, #057f81);
			@extend %btn--input;
			position: relative;
			top: -64px;
		}
		&_textarea{
			@extend %input-style;
			width: round(percentage(180 / 270));
			height: 75px;
		}
		&_btn{
			@extend %btn--input;
			border-width: 4px 15px;
			position: relative;
			left: 191px;
		}
	}
}


.foot{
	@include set-font(12px Arial Regular, #777);
	font: 12px Arial Regular;
	color: #777;
	text-align: center;
	position: relative;
}